@model List<string>﻿
@{
    ViewBag.Title = "Upload Works from Excel";
}

<h2>Upload Works from Excel</h2>
<div class="w-50">
    <form asp-action="UploadFromExcel" asp-controller="Works" method="post" enctype="multipart/form-data">

        @* ExcelFile *@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt">Choose an xlsx file</label>
            </div>
            <div class="flex-1">
                <input type="file" name="excelFile" class="form-input" />
                <div class="text-red">@ViewBag.ErrorMessage</div>
                <div class="text-green">@ViewBag.Message</div>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button type="submit" class="button button-green-back">Upload</button>
            </div>
        </div>

@if (Model != null && Model.Count > 0)
{
    <div class="form-field flex">
        <div class="flex-1">
            <h1>List of Errors:</h1>

            <ul>
                @foreach (var error in Model)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    </div>
}
  
    </form>

</div>